@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Lato|M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya');

.title-font {
	font-family: 'Sree Krushnadevaraya', serif;
	line-height: 1.1 !important;
}

.regular-font {
	font-family: 'Lato', sans-serif;
}