.services {
	padding-top: 10vw;
	padding-bottom: 6vw;

	.column.is-centered {
		@media screen and (min-width: 1023px) {
			display: flex !important;
			justify-content: center !important;
		}
	}

	.title {
		&-container {
			text-align: center;
		}
	}
}