.welcome {
	background: white;
	padding-top: 20vw;

	&-container {
		max-width: 1000px;
	}

	.title {

		&-container {
			text-align: center;
		}
	}

	.github {
		-webkit-transition: -webkit-filter 150ms linear;
		transition: -webkit-filter 150ms linear;
		filter: opacity(0.1) invert(100%);
	}
}